{% extends "base.html" %}
{% block content %}
<div class="main-container">
  <h1 class="title">{{ team_name | capitalize }}</h1>

  <div class="card-container" id="cardContainer">
    {% for link in links %}
      <a href="{{ link.href or link['URL'] }}" 
         target="{{ link.target or ('_blank' if link['Type'] == 'external' else '_self') }}" 
         class="card">
        <i class="fas {{ link['Icon'] or 'fa-link' }}"></i>
        <span>{{ link['Link Title'] or link['Team / Title'] }}</span>
      </a>
    {% endfor %}
  </div>
</div>


{% endblock %}
