{% extends "base.html" %}
{% block content %}
<div class="main-container">
  <div class="breadcrumb-back">
            <button onclick="history.back()" class="back-btn">
                <i class="fas fa-arrow-left"></i> Back
            </button>
        </div>

  <div class="card-container" id="cardContainer">
    {% for link in links %}
      <a href="{{ link.href or link['URL'] }}" 
         target="{{ link.target or ('_blank' if link['Type'] == 'external' else '_self') }}" 
         class="card">
        <img src="{{ link.logo }}" class="logo-icon" alt="Logo">
        <span>{{ link['Link Title'] or link['Team / Title'] }}</span>

      </a>
    {% endfor %}
  </div>
</div>


{% endblock %}
